<div class="card p-2">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title text-center">Error</h4>
        <p class="card-text text-center">Sorry, you have no permission to access to these resources.</p>
       <div class="row justify-content-center" >
              <a href="/home"class="btn btn-primary">Back to home page</a>
       </div>
    </div>
</div>