<div class="card p-2">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title text-center">About the website</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias natus praesentium explicabo fuga tenetur fugiat cumque consequatur voluptas. Suscipit exercitationem architecto et officia, nemo dolore recusandae sapiente molestias iure quas.</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias natus praesentium explicabo fuga tenetur fugiat cumque consequatur voluptas. Suscipit exercitationem architecto et officia, nemo dolore recusandae sapiente molestias iure quas.</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias natus praesentium explicabo fuga tenetur fugiat cumque consequatur voluptas. Suscipit exercitationem architecto et officia, nemo dolore recusandae sapiente molestias iure quas.</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias natus praesentium explicabo fuga tenetur fugiat cumque consequatur voluptas. Suscipit exercitationem architecto et officia, nemo dolore recusandae sapiente molestias iure quas.</p>
       <div class="row justify-content-center" >
              <a href="/events"class="btn btn-primary">See Events</a>
       </div>
    </div>
</div>