<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://kit.fontawesome.com/371169d42f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Events of Meryam</title>
</head>

<body>
    <!-- Nav tabs -->
    <div class="container">

        <div class="row justify-content-arround my-4 ">
            <div class="col-10">
                <ul class="nav nav-tabs" id="navId">

                    <li class="nav-item">
                        <a href="/home" class="nav-link {{#if activeHome}}active{{/if}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/events" class="nav-link {{#if activeEvents}}active{{/if}}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users" class="nav-link {{#if activeUser}}active{{/if}}">Users</a>
                    </li>
                </ul>

            </div>
            <div class="col-2 align-center">
            <ul class="nav nav-tabs">
                {{#if req.session.token}}
                <li class="nav-item ">
                    <a href="/signup" class="nav-link {{#if activeDash}}active{{/if}}"><i class="fa fa-user">&nbsp;</i> {{req.session.user}}</a>
                </li>
                {{else}}
                <li class="nav-item ">
                    <a href="/signup" class="nav-link {{#if activeDash}}active{{/if}}">Sign up =></a>
                </li>
                {{/if}}
            </ul>
        </div>
        </div>

        


        {{{body}}}
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>